$type-bug: radial-gradient(
  circle at 50% -20.71%,
  #d2e53a 0,
  #b9de2f 16.67%,
  #9bd41e 33.33%,
  #77c600 50%,
  #4eb800 66.67%,
  #08ad00 83.33%,
  #00a500 100%
);
$type-dark: radial-gradient(
  circle at 50% -20.71%,
  #30342c 0,
  #20211e 25%,
  #0d0b10 50%,
  #000000 75%,
  #000000 100%
);
$type-dragon: radial-gradient(
  circle at 50% -20.71%,
  #747bed 0,
  #004fc9 50%,
  #002aa5 100%
);
$type-electric: radial-gradient(
  circle at 50% 7.34%,
  #e9df14 0,
  #e7c703 16.67%,
  #dead00 33.33%,
  #cf9100 50%,
  #bd7705 66.67%,
  #ad600c 83.33%,
  #9e4d11 100%
);
$type-fairy: radial-gradient(
  circle at 50% -20.71%,
  #ff9eeb 0,
  #ff92e9 16.67%,
  #ff84e4 33.33%,
  #ec74dd 50%,
  #d565d7 66.67%,
  #c059d2 83.33%,
  #ab51d0 100%
);
$type-fighting: radial-gradient(
  circle at 50% -20.71%,
  #ff5d74 0,
  #fc4c72 16.67%,
  #ef346e 33.33%,
  #df0068 50%,
  #ce0063 66.67%,
  #c00060 83.33%,
  #b30061 100%
);
$type-fire: radial-gradient(
  circle at 50% -20.71%,
  #ffc53a 0,
  #ffb52e 16.67%,
  #ffa21d 33.33%,
  #ff8c00 50%,
  #f57500 66.67%,
  #ee6000 83.33%,
  #ea4b00 100%
);
$type-flying: radial-gradient(
  circle at 50% -20.71%,
  #c7d1ff 0,
  #889dec 50%,
  #3e6dc7 100%
);
$type-grass: radial-gradient(
  circle at 50% -20.71%,
  #abe064 0,
  #92db62 16.67%,
  #71d15d 33.33%,
  #42c356 50%,
  #00b551 66.67%,
  #00aa52 83.33%,
  #00a358 100%
);
$type-ghost: radial-gradient(
  circle at 50% -20.71%,
  #362c3b 0,
  #251a2e 25%,
  #140020 50%,
  #000014 75%,
  #000003 100%
);
$type-ground: radial-gradient(
  circle at 50% -20.71%,
  #a89886 0,
  #a18d79 16.67%,
  #987f69 33.33%,
  #8d6e57 50%,
  #825d46 66.67%,
  #794f39 83.33%,
  #734430 100%
);
$type-ice: radial-gradient(
  circle at 50% -20.71%,
  #b1f7e3 0,
  #9decdb 16.67%,
  #84dfd1 33.33%,
  #65cfc5 50%,
  #3fbfba 66.67%,
  #00b2b2 83.33%,
  #00a8ad 100%
);
$type-normal: radial-gradient(
  circle at 47.49% 21.35%,
  #b1c3c1 0,
  #a8b1b0 25%,
  #9c9c9c 50%,
  #8f878a 75%,
  #85777d 100%
);
$type-poison: radial-gradient(
  circle at 50% -20.71%,
  #bb39ad 0,
  #9f24a6 25%,
  #7e009b 50%,
  #590091 75%,
  #2e008a 100%
);
$type-psychic: radial-gradient(
  circle at 50% -20.71%,
  #ff995f 0,
  #ff8a5b 16.67%,
  #ff7655 33.33%,
  #ff5e4d 50%,
  #f34346 66.67%,
  #e82544 83.33%,
  #e00045 100%
);
$type-rock: radial-gradient(
  circle at 50% -20.71%,
  #e4ccad 0,
  #ddbf9f 16.67%,
  #d4b08f 33.33%,
  #c99e7c 50%,
  #be8c6a 66.67%,
  #b57d5d 83.33%,
  #ae7053 100%
);
$type-steel: radial-gradient(
  circle at 50% -20.71%,
  #9fb6c9 0,
  #5d86a6 50%,
  #005984 100%
);
$type-water: radial-gradient(
  circle at 50% -20.71%,
  #c1ebff 0,
  #79b8e8 50%,
  #1188c4 100%
);
$type-shadow: linear-gradient(
  175deg,
  #543b6b 0,
  #37284c 25%,
  #1c152d 50%,
  #00000f 75%,
  #000000 100%
);
